[build]
  command = "npm run build"
  functions = "netlify/functions"

[functions]
  external_node_modules = ["express"]
  node_bundler = "tsc"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/api-docs"
  to = "/.netlify/functions/api/:splat"
  status = 200